*{
  margin: 0;
  padding: 0;
}

.links{
  list-style-type: none;
}

.Goal-Title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.counter_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxes_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
  padding: 10px;
  background: grey;
  gap:1em;
  
}

.counter_box{
  display: flex;
  padding: 30px;
  background: black;
  color: white;
}

.progress-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-with-num{
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-container{
  background: #f3f3f3;
  border-radius: 15px;
  width: 300px;
  margin: 5px 30px;
  text-align: center;
}

.progress-bar{
  width: 50%; 
  border-radius: 15px;
  background: #4caf50;
}

.css-arrow-button {
  background-color: #2c3e50;
  border: none;
  color: white;
  border-radius: 50%; /* Creates the circle */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em; /* Styles the arrow size */

}
