*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.goals-container{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cross {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: grey;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 15px; 
}

.bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.bar2 {opacity: 0;}


.bar3 {
  transform: translate(0, -6px) rotate(45deg);
}

.goals-container{
  display: flex;
  flex-direction: column;
}
.goal-name{
  padding: 20px 0px;
}

h1{
  font-size: 50px;
  color: grey;
}

h2{
  font-size: 30px;
  color: black;
  margin-left: 30px;
  padding: 20px 0px;
}

h3{
  font-size: 20px;
  color: black;
}

.input-container{
  display: flex;
  margin-left: 30px;
  font-size:15px;
  padding: 5px 0px;
  color:grey;
}

.counting-detail{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-left:30px;

}

.counting-detail-container{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.goal-name-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-left:30px;
  
}

.pill{
  background: grey;
  border-radius: 30px;
  color: white;
  padding: 20px 15px;
  margin:80px;
  width: 200px;
  text-align: center;
  font-size: 20px;
}

.pill-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}